body, html 
{
    height: 100%;
    scroll-behavior: smooth;
}

.bg 
{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ingredient-field
{
    margin-bottom: 0.5rem;
}

.card {
    padding: 1rem;
}

#big-container 
{
    padding: 2rem;
}

.top-buffer 
{
    margin-top: 5rem;
}

table {
    font-size: calc(11px + (26 - 11) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
table {
  table-layout: fixed;
}

@media only screen and (max-width: 800px) 
{

    .form-inline
    {
        margin-top: 1rem;
    }

    .bg 
    {
        background-color: #555;
    }

}
