{% extends 'layout.html' %}
{% block body %}
<h1>About Us</h1>
<p>This is a web application designed to solve the perpetual question of 'What's for dinner?' It facilitate meal planning and shopping for busy households.</p>
<p>This application will always be free AND free of ads as long as we can afford the hosting.</p>
<p>Any questions, concerns, and feature suggestions are always welcome. You can get in touch via our contact page.</p>
<p>If you find this service useful, donations are always welcome!</p>
{% endblock %}