{% extends 'layout.html' %}
{% block body %}
<div class="card mx-auto border-dark mb-3" style="max-width: 80%; min-width: 30em">
<h1 class="card-title text-center">About</h1>
    <div class="card-body">
        <p>This web application is designed to solve the perpetual question of 'What's for dinner?' It facilitates meal planning and shopping for busy households.</p>
        <p>This application will always be free.</p>
        <p>We will <b>never</b> sell or distribute your information to anyone. We take privacy very seriously. We only ask for your email address to enable account recovery.</p>
        <p>Any questions, concerns, and feature suggestions are always welcome. You can get in touch via our contact page.</p>
        <p>If you find this service useful, consider making a donation to ameliorate hosting costs.</p>
    </div>
</div>
{% endblock %}