{% extends 'layout.html' %}

{% block body %}
<script src="static/js/pdfmake.min.js"></script>
<script src="static/js/vfs_fonts.js"></script>
<div class="card mx-auto border-dark mb-3" style="max-width: 90%;">
    <div class="card-body">
    <h4 class="card-title">Activity</h4>
    <table class="table table-reponsive">
        <thead>
            <tr>
            <th scope="col">User</th>
            <th scope="col">Recipe</th>
            </tr>
        </thead>
        <tbody>
            {% for name in usernames %}
            <tr>
            <th scope="row">{{ loop.index}}</th>
            <td>{{ name }}</td>
            <td>{{ titles[loop.index-1] }}</td>
            <td><button id={{ids[loop.index-1]}} class="btn btn-outline-secondary btn-small" type="button" onclick="view_recipe(this.id)">View</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
<script>
    function view_recipe(id) {
        location.href=`view_recipe?recipe=${id}`
    }
</script>
{% endblock%}