{% extends 'layout.html' %}


{% block body %}
    <h1>Add Recipe</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST">
        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.description, class_="form-control") }}
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">Ingredients</div>
        <div class="panel-body" id="ingredient_body">
            <div class="col-xs-4 nopadding">
                <div class="form-group">
                    <input type="text" class="form-control" name="ingr_name" id="name" placeholder="Ingredient Name" required>
                </div>
            </div>
            <div class="col-xs-3 nopadding">
                <div class="form-group">
                    <input type="number" step="0.01" min="0" max="999" class="form-control" name="amount" id="amount" placeholder="Amount" required>
                </div>
            </div>
            <div class="col-xs-3 nopadding">
                <div class="form-group">
                    <div class="input-group">
                        <select name="unit" class="form-control">
                            {% for unit in units %}
                                <option>{{ unit }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="button" onclick="ingredient_fields();" id="add-button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div>
        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </div>
    </form>


<script src="/static/js/add_ingredient.js"></script>

{% endblock %}