{% extends 'layout.html' %}


{% block body %}
<div class="card mx-auto border-dark mb-3 text-center" style="max-width: 90%;">
    {% from "includes/_formhelpers.html" import render_field %}
    <h1 class="card-header">Add Recipe</h1>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                {{ render_field(form.title, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.description, class_="form-control") }}
            </div>
            <div class="row justify-content-center">
                <div class="form-group">
                    <h6>Ingredients</h6>
                    <div id="ingredient_body">
                    </div>
                </div>

            </div>
            <div>
                <p><input class="btn btn-outline-success btn-block" type="submit" value="Submit"></p>
                <a class="btn btn-outline-secondary btn-block" href="/dashboard">Back</a>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/add_ingredient.js"></script>

{% endblock %}