{% extends 'layout.html' %}
{% block body %}
    <div class="card mx-auto border-dark mb-3 text-center" style="max-width: 90%">
    <h1 class="card-header">Edit Recipe</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="card-body">
        <button type="button" id="{{ id }}" onclick="deleteRecipe('{{ id }}')" style="margin-bottom: 1rem;" class="btn btn-danger btn-sm btn-block">Delete</button>
        <form method="POST">
            <div class="form-group">
                {{ render_field(form.title, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.description, class_="form-control") }}
            </div>
            <div class="row justify-content-center">
                <div class="form-group">
                    <h6>Ingredients</h6>
                    <div id="ingredient_body"></div>
                    <button type="button" onclick="ingredient_fields()" style="margin-bottom: 1rem;" class="btn btn-success btn-sm btn-block">Add Ingredient</button>
                    <div>
                        <p><input class="btn btn-outline-success btn-block" type="submit" value="Submit"></p>
                        <a class="btn btn-outline-secondary btn-block" href="/dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/static/js/recipe_list.js"></script>
    <script>
        var id = {{ id|tojson }};
        var ingredients = {{ ingredients|tojson }};
        var amounts = {{ amounts|tojson}};
        var units = {{ units|tojson }};
    </script>
        <script src="/static/js/ingredients.js"></script>
    <script>
        edit_ingredient_fields(ingredients, amounts, units);
    </script>
{% endblock %}