<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get The Groceries</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.1.1-dist/css/fontawesome-all.min.css">
</head>
<script type="text/javascript" src="/static/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-4.1.1-dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-confirmation/bootstrap-confirmation.js"></script>

<body class="bg">
{% include 'includes/_navbar.html' %}
<div class="top-buffer">
{% include 'includes/_messages.html' %}
{% block body %}{% endblock %}
</div>
</body>
</html>