{% extends 'layout.html' %}
{% block body %}

<div class="card mx-auto border-dark mb-3" style="max-width: 40%; min-width: 30em">
    <div class="card-body">
    <h1 class="card-title">Welcome {{session.username}}! Reset your password:</h1>
        <form action="" method="POST">
            <div class="input-group">
                <label>New Password</label>
                <input type="text" name="username" class="form-control" value={{request.form.password}}>
            </div>
            <div class="input-group">
                <label>Confirm Password</label>
                <input type="text" name="username" class="form-control" value={{request.form.password}}>
            </div>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}