{% extends 'layout.html' %}
{% block body %}
    <div class="card border-dark mb-3">
    <h1 class="card-header">{{ title }}</h1>
    <div class="card-body">
        <div style="margin-bottom: 1rem; white-space: pre-wrap;">{{ description }}</div>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Ingredient</th>
                <th scope="col">Amount</th>
                <th scope="col">Unit</th>
            </thead>
            <tbody>
                {% for i in ingredients %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ i }}</td>
                        <td>{{ amounts[loop.index-1] }}</td>
                        <td>{{ units[loop.index-1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="{{ recipe_id }}" class="btn btn-block btn-outline-secondary btn-success" onclick="window.location.href=`/add_recipe?recipe=${this.id}`">Add to My Recipes</button>
        <button class="btn btn-block btn-outline-secondary" onclick="window.location.href='/activity'">Back</button>
    </div>
    <script src="/static/js/ingredients.js"></script>
    <script>

    </script>
{% endblock %}